<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zheng.dao.BlogMapper">
	<resultMap id="BaseResultMap" type="com.zheng.entity.Blog">
		<id column="blogid" jdbcType="INTEGER" property="blogid" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="title" jdbcType="VARCHAR" property="title" />
		<result column="author" jdbcType="VARCHAR" property="author" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
	</resultMap>
	<resultMap extends="BaseResultMap" id="ResultMapWithBLOBs"
		type="com.zheng.entity.Blog">
		<result column="content" jdbcType="LONGVARCHAR" property="content" />
	</resultMap>
	<sql id="Base_Column_List">
		blogid, create_time, title, author, update_time
	</sql>
	<sql id="Blob_Column_List">
		content
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="ResultMapWithBLOBs">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from blog
		where blogid = #{blogid,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from blog
		where blogid = #{blogid,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.zheng.entity.Blog">
		insert into blog (blogid, create_time, title,
		author, update_time, content
		)
		values (#{blogid,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP},
		#{title,jdbcType=VARCHAR},
		#{author,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{content,jdbcType=LONGVARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.zheng.entity.Blog">
		insert into blog
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="blogid != null">
				blogid,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="title != null">
				title,
			</if>
			<if test="author != null">
				author,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="content != null">
				content,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="blogid != null">
				#{blogid,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="title != null">
				#{title,jdbcType=VARCHAR},
			</if>
			<if test="author != null">
				#{author,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="content != null">
				#{content,jdbcType=LONGVARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.zheng.entity.Blog">
		update blog
		<set>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="title != null">
				title = #{title,jdbcType=VARCHAR},
			</if>
			<if test="author != null">
				author = #{author,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="content != null">
				content = #{content,jdbcType=LONGVARCHAR},
			</if>
		</set>
		where blogid = #{blogid,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKeyWithBLOBs" parameterType="com.zheng.entity.Blog">
		update blog
		set create_time = #{createTime,jdbcType=TIMESTAMP},
		title = #{title,jdbcType=VARCHAR},
		author = #{author,jdbcType=VARCHAR},
		update_time = #{updateTime,jdbcType=TIMESTAMP},
		content = #{content,jdbcType=LONGVARCHAR}
		where blogid = #{blogid,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.zheng.entity.Blog">
		update blog
		set create_time = #{createTime,jdbcType=TIMESTAMP},
		title = #{title,jdbcType=VARCHAR},
		author = #{author,jdbcType=VARCHAR},
		update_time = #{updateTime,jdbcType=TIMESTAMP}
		where blogid = #{blogid,jdbcType=INTEGER}
	</update>
</mapper>